.deps
.libs
*.a
*.gz
*.la
*.lo
*.o
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/build-scripts/*
/config.cache
/config.log
/config.status
/configure

/src/wavemetainfo
/src/waveunwrap
/src/config.h
/src/config.h.in
/src/stamp-h1
